MY_APP__DB__HOST=localhost
MY_APP__DB__PORT=5432
MY_APP__DB__NAME=
MY_APP__DB__USERNAME=
MY_APP__DB__PASSWORD=

MY_APP__APP__JWT__PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
MY_APP__APP__JWT__PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----\n"
